body {
    /* font-family: 'Roboto'; */
    /* font-family: 'Muli', sans-serif; */
    font-family: 'Lato', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Oxygen', sans-serif; */
    /* font-family: 'Alegreya', serif; */
    padding-top: 190px;
}

.home {
    padding-top: 133px;
}


.h1,
h1 {
    font-size: 1.75rem;
    text-transform: uppercase;
}

a {
    color: #1491CB;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #3a3a3a;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.list-group-item a {
    color: #333;
}

.list-group-item {
    max-height: 64px;
    overflow: hidden;
    padding-top: .5rem;
}

.section-heading {
    margin-bottom: 80px;
    text-align: center;
}

.section-heading h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

.section-heading .heading-line {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    height: 1px;
    width: 80px;
    background: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}



.home-section {
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.home-section .card-header {
    background-color: #fff;
    border-bottom: none;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.card-header,
.btn-link {
    color: #333;
    font-weight: 700;
}

.card-header .btn-link:hover,
.card-header .btn-link:active,
.card-header .btn-link:visited,
.card-header .btn-link:focus {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}

.card-small p.card-text {
    padding-top: 10px;
    max-height: 64px;
    overflow: hidden;
}

.bg-white {
    background: #fff;
}

.bg-gray {
    background: #f8f8f8;
}

.h2,
h2 {
    font-size: 1.5rem;
}

.navbar-brand img {

    width: 200px;
}

.carousel-caption {

    position: absolute;
    right: 30%;

    left: 30%;
    z-index: 10;
    padding: 20px 30px;
    color: #fff;
    text-align: center;
    background-color: rgba(20, 145, 201, .7);

}

.carousel-caption h3 {


    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}


.h3,
h3 {
    font-size: 1.25rem;
}

.h5,
h5 {
    font-size: 1rem;
}

.main-content {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: calc(100vh - (48px + 80px));
}

.btn-wide {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

/* .carousel-item {
    height: calc(100vh - 73px);
    height: calc(50vh + 73px);
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

nav {
    transition: 1s;
}

.black {
    background-color: rgb(255, 255, 255) !important;
    transition: 1s;
}

.section-title {
    margin-bottom: 50px;
    text-align: center;
}

/* p,
a {
    font-size: 1.1rem;
} */

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1rem;
}

.dropdown-item {
    font-size: 1rem;
}

/* .main-content li {
    font-size: 1.1rem;
} */

.navbar {

    padding: 0rem 1rem;

}

.bg-light {

    background-color: #fff !important;
    border-bottom: #ddd solid 1px;

}

/* Container needed to position the button. Adjust the width as needed */
.multimedia {
    position: relative;
    width: 100%;
}

/* Make the image responsive */
.multimedia img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.multimedia .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.col-share {

    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}

.col-share h5 {

    font-size: 14px;
    padding-top: 15px;
    padding-right: 10px;
    font-weight: normal;

}

.breadcrumb-nav {

    position: fixed;
    top: 132px;
    right: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.breadcrumb-nav .breadcrumb {

    background-color:

        #fff !important;
    margin-bottom: 0px;
    z-index: 1;

}


/*======== On screens that are 480px wide or less XS ========*/
@media screen and (max-width: 576px) {

    .home {

        padding-top: 70px;

    }

    .carousel-caption {
        position: absolute;
        right: 15%;

        left: 15%;
        z-index: 10;
        padding: 8px 12px;
        color: #fff;
        text-align: center;
        /* background-color: rgba(187, 23, 60, .7); */
        bottom: 0px;

    }

    .carousel-caption h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .navbar-brand img {
        width: 100px;
    }
}


/*======== On screens that are 768px wide or more SM ========*/
@media screen and (min-width: 576px) {}



/*======== On screens that are 768px wide or more Md ========*/
@media screen and (min-width: 768px) {}


/*======== On screens that are 992px wide or more Large ========*/
@media screen and (min-width: 992px) {
    .carousel-caption {

        position: absolute;
        right: 30%;

        left: 30%;
        z-index: 10;
        padding: 20px 30px;
        color: #fff;
        text-align: center;
        background-color: rgba(20, 145, 201, .7);
        bottom: 50px;

    }

    .carousel-caption h3 {


        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 1rem;
        margin-bottom: 0;
    }
}
